<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- cdn for bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <!-- custom css links -->
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--  alertfy JavaScript -->
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.14.0/build/alertify.min.js"></script>
    <!-- aletrify css -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.14.0/build/css/alertify.min.css" />
    <style>
        .cross {
            position: absolute;
            top: o;
            right: 0;
        }

        .cross:hover {
            scale: 1.6;
            color: aquamarine;
        }
    </style>
</head>

<body class="bg-light">
    <div class="container min-vh-100  d-flex align-items-center py-5">
        <div class="row w-100 bg-white shadow-lg rounded-4">
            <div class="col-lg-6 text-white p-5 bg-dark d-flex justify-content-center align-items-center flex-column">
                <h1 class="fw-bold mb-3">Welcome to Our Page</h1>
                {% if name %}
                <h4>hi{{name}}</h4>
                {% endif %}
                <p class="text-white-50">Create a user Account to enjoy</p>
                <img src="{% static 'images/login_img.jpeg' %}" class="img-fluid rounded-4 shadow"
                    style="max-height: 350px; object-fit: cover;" alt="">
            </div>
            <div class="col-lg-6">
                <div class="main">

                    <!-- From Uiverse.io by Yaya12085 -->
                    <form method="post" action="{% url 'login' %}" class="form">
                        {% csrf_token %}
                        <a href="{% url 'index' %}">
                            <h2 class="cross"><i class="fa-solid fa-circle-xmark"></i></h2>
                        </a>
                        <p class="title">LOGIN </p>
                        <p class="message">SignIn now and get full access to our app. </p>


                        <label>
                            <input required="" name="username" placeholder="" type="text" class="input">
                            <span>UserName</span>
                        </label>


                        <label>
                            <input required="" name="password" placeholder="" type="password" id="password"
                                class="input">
                            <span>Password</span>
                            <i class="fa-solid fa-eye password-toggle" id="togglePassword"></i>
                        </label>
                        <div>
                            <input type="checkbox" name="remember_me">
                            <label for="">Remember Me</label>
                        </div>
                        <div>
                            <a href="{% url 'password_reset' %}">forgot password?</a>
                        </div>
                        <input type="hidden" value="{{next}}" name="next">

                        <button class="submit">Submit</button>
                        <p class="signin">Don't have an acount ? No Worries, Please <a
                                href="{% url 'register' %}">SignUp</a> </p>
                    </form>
                    <div class="d-flex justify-content-center gap-3">
                        <form method="post" action="{% url 'social:begin' 'google-oauth2' %}">
                            {% csrf_token %}

                            <button type="submit" class="btn btn-outline-warning" title="continue with google"><i
                                    class="fa-brands fa-google"></i></button>
                        </form>




                        <form action="{% url 'social:begin' 'facebook' %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-primary" title="continue with facebook"><i
                                    class="fa-brands fa-facebook"></i></button>

                        </form>



                        <form method="post" action="{% url 'social:begin' 'github' %}">
                            {% csrf_token %}
                            <button class="btn btn-outline-dark" title="continue with github"><i
                                    class="fa-brands fa-github"></i></button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>





    <!-- this is js cdn bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>


    {% if messages %}
    {% for message in messages %}
    {% if message.tags == 'success' %}
    <script> alertify.set('notifier', 'position', 'top-right');
        alertify.success('{{message}}');
    </script>
    {% else %}
    <script> alertify.set('notifier', 'position', 'top-right');
        alertify.error('{{message}}');
    </script>
    {% endif %}


    {% endfor %}

    {% endif %}

    <script>
        const togglePassword = document.getElementById("togglePassword");
        const password = document.getElementById("password");

        togglePassword.addEventListener("click", function () {
            if (password.type === "password") {
                password.type = "text";

                this.classList.remove("fa-eye");
                this.classList.add("fa-eye-slash");
            } else {
                password.type = "password";

                this.classList.remove("fa-eye-slash");
                this.classList.add("fa-eye");
            }
        });
    </script>
</body>

</html>